[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = "==3.12.*"
dependencies = [
    "fastapi>=0.115.12",
    "openai",
    "pydantic>=2.11.4",
    "uvicorn>=0.34.2",
    "python-dotenv>=1.2.1",
]
